project:
  type: website

website:
  title: "Logan Yates"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: ./posts/2025-04-23-hello.qmd
        text: Hello test
      - text: Posts
        menu:
        - href: ./posts/NonParametricRegression.qmd
          text: Nonparametric Regression Notes

profiles:
  public:
    website:
      drafts:
        - private/**

format:
  html:
    theme:
      light: sandstone
      dark: darkly
    css: styles.css
    toc: true


execute:
  jupyter:
    kernel: quarto-env
